<script>
import { GlLink, GlSprintf } from '@gitlab/ui';
import { PROMO_URL } from 'jh/lib/utils/url_utility';
import {
  I18N_NEW_PROJECT_TERMS_DECLARATION,
  I18N_NEW_PROJECT_TERMS_ONE,
  I18N_NEW_PROJECT_TERMS_TWO,
  PUBLIC_VISIBILITY_LEVEL,
} from '../constants';

export default {
  name: 'NewProjectTerms',
  components: {
    GlSprintf,
    GlLink,
  },
  props: {
    visibilityLevel: {
      type: Number,
      required: true,
    },
  },
  computed: {
    showTerms() {
      return this.visibilityLevel === PUBLIC_VISIBILITY_LEVEL;
    },
  },
  i18n: {
    I18N_NEW_PROJECT_TERMS_DECLARATION,
    I18N_NEW_PROJECT_TERMS_ONE,
    I18N_NEW_PROJECT_TERMS_TWO,
  },
  urls: {
    termsLink: `${PROMO_URL}/terms/`,
  },
};
</script>

<template>
  <div v-if="showTerms" data-testid="new-project-terms">
    <label class="label-bold" for="project_project_configuration">{{
      $options.i18n.I18N_NEW_PROJECT_TERMS_DECLARATION
    }}</label>
    <div class="form-group">
      <div class="form-check gl-mb-3">
        <input
          id="project_agree_jihu_terms"
          type="checkbox"
          name="project[agree_jihu_terms]"
          value="1"
          required="required"
          class="form-check-input"
          data-testid="agree-jihu-terms-checkbox"
          data-track-label="blank_project"
          data-track-action="activate_form_input"
          data-track-property="agree_jihu_terms"
        />
        <label class="form-check-label" for="project_agree_jihu_terms">
          <gl-sprintf :message="$options.i18n.I18N_NEW_PROJECT_TERMS_ONE">
            <template #link="{ content }">
              <gl-link :href="$options.urls.termsLink" target="_blank">{{ content }}</gl-link>
            </template>
          </gl-sprintf>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check gl-mb-3">
        <input
          id="project_agree_intellectual_property"
          type="checkbox"
          name="project[agree_intellectual_property]"
          value="1"
          required="required"
          class="form-check-input"
          data-testid="agree-intellectual-property-checkbox"
          data-track-label="blank_project"
          data-track-action="activate_form_input"
          data-track-property="agree_intellectual_property"
        />
        <label class="form-check-label" for="project_agree_intellectual_property">{{
          $options.i18n.I18N_NEW_PROJECT_TERMS_TWO
        }}</label>
      </div>
    </div>
  </div>
</template>
