- add_to_breadcrumbs s_('JH|LigaaiIntegration|LigaAI issues'), project_integrations_ligaai_issues_path(@project)
- if @issue_json.present?
  - breadcrumb_title ligaai_issue_breadcrumb_link(@issue_json)
  - page_title @issue_json[:title]

.js-ligaai-issues-show-app{ data: ligaai_issues_show_data }
