- add_to_breadcrumbs _('Jobs'), project_jobs_path(@project)
- add_to_breadcrumbs "##{@build.id}", project_job_path(@project, @build)
- breadcrumb_title _('Terminal')
- page_title _('Terminal'), "#{strip_tags(sanitize(@build.name))} (##{@build.id})", _('Jobs')
- add_page_specific_style 'page_bundles/terminal'
- content_for :page_specific_javascripts do
  = stylesheet_link_tag "xterm.css"

.terminal-extra-info.gl-display-none
  .terminal-notice.gl-mt-4
    = s_('JH|To enable line wrap, run the following command in terminal:')

  .code-container.gl-mt-4
    %code#fit-tty-command
    = clipboard_button(target: '#fit-tty-command', title: _("Copy code"))

.terminal-container
  #terminal.gl-mt-4{ data: { project_path: terminal_project_job_path(@project, @build, format: :ws) } }
