<script>
import {
  GlCollapsibleListbox,
  GlForm,
  GlFormGroup,
  GlFormCheckbox,
  GlDatepicker,
  GlButton,
  GlFormInput,
} from '@gitlab/ui';
import { createAlert } from '~/alert';
import { s__ } from '~/locale';
import EEEpicForm from 'ee/epic/components/epic_form.vue';
import NewFieldsMixins from 'jh/issues/mixins/new_fields';
import { i18n } from 'jh/issues/constants';
import { TYPE_EPIC, WORKSPACE_GROUP } from '~/issues/constants';
import { formatDate } from '~/lib/utils/datetime_utility';
import { visitUrl } from '~/lib/utils/url_utility';
import { getIdFromGraphQLId } from '~/graphql_shared/utils';
import { trackSavedUsingEditor } from '~/vue_shared/components/markdown/tracking';
import MarkdownEditor from '~/vue_shared/components/markdown/markdown_editor.vue';
import LabelsSelectWidget from '~/sidebar/components/labels/labels_select_widget/labels_select_root.vue';
import ColorSelectDropdown from '~/vue_shared/components/color_select_dropdown/color_select_root.vue';
import createEpic from 'ee/epic/queries/create_epic.mutation.graphql';
// eslint-disable-next-line @jihu-fe/prefer-ee-modules
import { EPIC_NOTEABLE_TYPE } from '~/notes/constants';
import EpicEnhancementForm from './epic_enhancement.vue';

export default {
  components: {
    GlForm,
    GlFormGroup,
    GlFormCheckbox,
    GlDatepicker,
    GlButton,
    GlFormInput,
    GlCollapsibleListbox,
    MarkdownEditor,
    ColorSelectDropdown,
    LabelsSelectWidget,
    EpicEnhancementForm,
  },
  extends: EEEpicForm,
  mixins: [NewFieldsMixins],
  data() {
    return {
      selectedIteration: null,
      selectedMilestone: null,
    };
  },
  computed: {
    // The part is the JH version code.
    customizeLabelEnabled() {
      return window.gon.jh_custom_labels_enabled;
    },
    colClass() {
      const { customizeLabelEnabled, epicEnhancementEnabled } = this;
      if (customizeLabelEnabled && epicEnhancementEnabled) {
        return 'col-lg-4';
      }

      if (customizeLabelEnabled || epicEnhancementEnabled) {
        return 'col-lg-6';
      }

      return '';
    },
    issuableType() {
      return WORKSPACE_GROUP;
    },
    customizeLabelType() {
      return TYPE_EPIC;
    },
    labelIds() {
      return [...this.labels.map((label) => label.id), ...this.selectedLabels].filter(Boolean);
    },
    canSubmit() {
      return this.title && !this.customLabelFormInvalid;
    },
    epicEnhancementEnabled() {
      return gon.epic_support_milestone_and_iteration;
    },
  },
  methods: {
    onReset(index) {
      this.selectedLabels[index] = undefined;
      this.$forceUpdate();
    },
    save() {
      this.loading = true;

      trackSavedUsingEditor(this.$refs.markdownEditor.isContentEditorActive, EPIC_NOTEABLE_TYPE);

      const input = {
        addLabelIds: this.labelIds,
        groupPath: this.groupPath,
        title: this.title,
        description: this.description,
        confidential: this.confidential,
        startDateFixed: this.startDateFixed ? formatDate(this.startDateFixed, 'yyyy-mm-dd') : null,
        startDateIsFixed: Boolean(this.startDateFixed),
        dueDateFixed: this.dueDateFixed ? formatDate(this.dueDateFixed, 'yyyy-mm-dd') : null,
        dueDateIsFixed: Boolean(this.dueDateFixed),
      };

      if (this.color?.color !== '') {
        input.color = this.color.color;
      }

      if (this.epicEnhancementEnabled) {
        if (this.selectedIteration) {
          input.sprintId = this.selectedIteration;
        }
        if (this.selectedMilestone) {
          input.milestoneId = getIdFromGraphQLId(this.selectedMilestone?.id);
        }
      }

      return this.$apollo
        .mutate({
          mutation: createEpic,
          variables: { input },
        })
        .then(({ data }) => {
          const { errors, epic } = data.createEpic;
          if (errors?.length > 0) {
            createAlert({
              message: errors[0],
            });
            this.loading = false;
            return;
          }

          this.resetAutosave();
          visitUrl(epic.webUrl);
        })
        .catch(() => {
          this.loading = false;
          createAlert({
            message: s__('Epics|Unable to save epic. Please try again'),
          });
        });
    },
  },
  i18n: {
    ...EEEpicForm.i18n,
    ...i18n,
  },
};
</script>

<template>
  <div>
    <h1 class="page-title gl-font-size-h-display gl-pb-5">
      {{ __('New Epic') }}
    </h1>
    <gl-form class="common-note-form new-epic-form" @submit.prevent="save">
      <gl-form-group :label="__('Title (required)')" label-for="epic-title">
        <gl-form-input
          id="epic-title"
          ref="titleInput"
          v-model="title"
          data-testid="epic-title-field"
          autocomplete="off"
          autofocus
        />
      </gl-form-group>
      <gl-form-group :label="__('Description')" label-for="epic-description">
        <markdown-editor
          ref="markdownEditor"
          v-model="description"
          :form-field-props="$options.descriptionFormFieldProps"
          :render-markdown-path="markdownPreviewPath"
          :markdown-docs-path="markdownDocsPath"
          :autosave-key="descriptionAutosaveKey"
          enable-autocomplete
          supports-quick-actions
        />
      </gl-form-group>
      <gl-form-group :label="__('Confidentiality')" label-for="epic-confidentiality">
        <gl-form-checkbox
          id="epic-confidentiality"
          v-model="confidential"
          data-testid="confidential-epic-checkbox"
          >{{ $options.i18n.confidentialityLabel }}</gl-form-checkbox
        >
      </gl-form-group>

      <div :class="{ row: customizeLabelEnabled || epicEnhancementEnabled }">
        <div :class="colClass">
          <gl-form-group :label="__('Labels')">
            <labels-select-widget
              class="block labels js-labels-block"
              :full-path="groupPath"
              allow-label-create
              allow-multiselect
              :allow-scoped-labels="false"
              :labels-filter-base-path="groupEpicsPath"
              :attr-workspace-path="groupPath"
              workspace-type="group"
              :label-create-type="$options.WORKSPACE_GROUP"
              issuable-type="epic"
              variant="embedded"
              @updateSelectedLabels="handleUpdateSelectedLabels($event.labels)"
              >{{ __('None') }}</labels-select-widget
            >
          </gl-form-group>
          <gl-form-group :label="__('Start date')" :description="$options.i18n.epicDatesHint">
            <div class="gl-display-inline-block gl-xs-mb-3">
              <gl-datepicker
                v-model="startDateFixed"
                :max-date="dueDateFixed"
                :default-date="dueDateFixed"
                data-testid="epic-start-date"
              />
            </div>
            <gl-button
              v-show="startDateFixed"
              category="tertiary"
              class="gl-white-space-nowrap"
              data-testid="clear-start-date"
              @click="updateStartDate(null)"
              >{{ __('Clear start date') }}</gl-button
            >
          </gl-form-group>
          <gl-form-group :label="__('Due date')" :description="$options.i18n.epicDatesHint">
            <div class="gl-display-inline-block gl-xs-mb-3">
              <gl-datepicker
                v-model="dueDateFixed"
                :min-date="startDateFixed"
                :default-date="startDateFixed"
                data-testid="epic-due-date"
              />
            </div>
            <gl-button
              v-show="dueDateFixed"
              category="tertiary"
              class="gl-white-space-nowrap"
              data-testid="clear-due-date"
              @click="updateDueDate(null)"
              >{{ __('Clear due date') }}</gl-button
            >
          </gl-form-group>
          <gl-form-group
            label-for="epic-color"
            :description="$options.i18n.colorHelp"
            :label="__('Color')"
          >
            <color-select-dropdown
              class="block colors js-colors-block"
              :full-path="groupPath"
              :attr-workspace-path="groupPath"
              workspace-type="group"
              :label-create-type="$options.WORKSPACE_GROUP"
              :default-color="color"
              issuable-type="epic"
              variant="embedded"
              @updateSelectedColor="handleUpdateSelectedColor($event)"
            >
              {{ __('Select a color') }}
            </color-select-dropdown>
          </gl-form-group>
        </div>
        <!-- JH Customization code -->
        <div v-if="customizeLabelEnabled" :class="colClass">
          <div :class="rootClassName" data-testid="new-fields-col">
            <gl-form-group
              v-for="(customLabel, index) in customLabels"
              :key="customLabel.scope"
              label-class="gl-line-height-normal"
              :state="dropdownStates[index]"
              :label="groupLabel(customLabel)"
              :invalid-feedback="$options.i18n.REQUIRED_FIELD_ERROR_MESSAGE"
            >
              <div
                class="issuable-form-select-holder gl-display-inline-block gl-xs-mb-3 labels-select-wrapper is-embedded"
              >
                <gl-collapsible-listbox
                  v-model="selectedLabels[index]"
                  :data-testid="`listbox-${customLabel.scope}`"
                  :toggle-text="toggleText(customLabel.scope, index)"
                  :toggle-class="toggleClass(index)"
                  :no-results-text="$options.i18n.NO_LABELS"
                  :header-text="headerText(customLabel.scope)"
                  :reset-button-label="customLabel.required ? '' : $options.i18n.RESET_BUTTON_LABEL"
                  block
                  :items="findLabelsInScope(customLabel.scope)"
                  @reset="onReset(index)"
                />
              </div>
            </gl-form-group>
          </div>
        </div>
        <div v-if="epicEnhancementEnabled" :class="colClass">
          <epic-enhancement-form
            @set-iteration="(iteration) => (selectedIteration = iteration)"
            @set-milestone="(milestone) => (selectedMilestone = milestone)"
          />
        </div>
        <!-- JH Customization code end -->
      </div>

      <div class="footer-block gl-pt-4">
        <gl-button
          type="submit"
          variant="confirm"
          :loading="loading"
          :disabled="!canSubmit"
          data-testid="create-epic-button"
          class="gl-mr-2"
          >{{ __('Create epic') }}</gl-button
        >
        <gl-button
          type="button"
          class="gl-ml-auto"
          data-testid="cancel-epic"
          :href="groupEpicsPath"
          >{{ __('Cancel') }}</gl-button
        >
      </div>
    </gl-form>
  </div>
</template>
