<script>
import { GlFormGroup } from '@gitlab/ui';
import { iterationDropdownI18n, milestoneDropdownI18n } from '../constants';
import EpicMilestoneSelect from './milestone_select.vue';
import EpicIterationSelect from './iteration_select.vue';

export default {
  EpicMilestoneSelect,
  name: 'EpicEnhancementForm',
  components: {
    EpicIterationSelect,
    EpicMilestoneSelect,
    GlFormGroup,
  },
  i18n: {
    milestoneDropdownI18n,
    iterationDropdownI18n,
  },
};
</script>

<template>
  <div>
    <gl-form-group :label="$options.i18n.milestoneDropdownI18n.label">
      <epic-milestone-select @set-milestone="(milestone) => $emit('set-milestone', milestone)" />
    </gl-form-group>
    <gl-form-group :label="$options.i18n.iterationDropdownI18n.label">
      <epic-iteration-select
        class="labels-select-wrapper is-embedded"
        @set-iteration="(iteration) => $emit('set-iteration', iteration)"
      />
    </gl-form-group>
  </div>
</template>
