<script>
import { getIdFromGraphQLId } from '~/graphql_shared/utils';
import IterationDropdown from './iteration_dropdown.vue';

export default {
  name: 'EpicIterationSelect',
  components: {
    IterationDropdown,
  },
  props: {
    selected: {
      type: Object,
      required: false,
      default: () => null,
    },
  },
  data() {
    return {
      localSelected: '',
    };
  },
  computed: {
    currentSelected() {
      const { selected, localSelected } = this;
      return selected === null ? localSelected : selected;
    },
  },
  methods: {
    getValueFromSelectedIteration(iteration) {
      const noChangeIterationValue = '';
      const unSetIterationValue = '0';

      if (iteration === null) {
        return noChangeIterationValue;
      }
      if (iteration.id === null) {
        return unSetIterationValue;
      }

      return getIdFromGraphQLId(iteration.id);
    },
    onIterationSelected(iteration) {
      const selected = this.getValueFromSelectedIteration(iteration);
      this.localSelected = selected;
      this.$emit('set-iteration', selected); // for form creation
      this.$emit('select', iteration); // for inline editing
    },
    showDropdown() {
      this.$refs.dropdown.showDropdown();
    },
  },
};
</script>

<template>
  <iteration-dropdown
    ref="dropdown"
    data-testid="dropdown-iteration"
    :selected="currentSelected"
    @select="onIterationSelected"
  />
</template>
