<script>
import groupMilestoneQuery from '~/sidebar/queries/group_milestones.query.graphql';
import DropdownWidget from '~/vue_shared/components/dropdown/dropdown_widget/dropdown_widget.vue';
import { milestoneDropdownI18n, DEFAULT_SELECTED_MILESTONE, noMilestone } from '../constants';

export default {
  name: 'EpicMilestoneSelect',
  components: {
    DropdownWidget,
  },
  inject: ['fullPath'],
  props: {
    selected: {
      type: Object,
      required: false,
      default: () => null,
    },
  },
  data() {
    return {
      search: '',
      localSelected: DEFAULT_SELECTED_MILESTONE,
      milestones: [],
      skipQuery: true,
    };
  },
  computed: {
    isLoading() {
      return this.$apollo.queries.milestones.loading;
    },
    currentSelected() {
      const { selected, localSelected } = this;
      return selected === null ? localSelected : selected;
    },
  },
  methods: {
    selectMilestone(milestone) {
      this.localSelected = milestone;
      this.$emit('set-milestone', milestone);
    },
    setSearch(search) {
      this.search = search;
    },
    showDropdown() {
      this.$refs.milestoneDropdown.showDropdown();
    },
    onShown() {
      this.skipQuery = false;
    },
  },
  apollo: {
    milestones: {
      query() {
        return groupMilestoneQuery;
      },
      skip() {
        return this.skipQuery;
      },
      variables() {
        return {
          fullPath: this.fullPath,
          title: this.search,
          state: 'active',
        };
      },
      update(data) {
        return data?.workspace?.attributes?.nodes || [];
      },
    },
  },
  i18n: milestoneDropdownI18n,
  MilestonesPreset: [noMilestone],
};
</script>

<template>
  <dropdown-widget
    ref="milestoneDropdown"
    class="labels-select-wrapper is-embedded"
    data-testid="dropdown-milestone"
    :select-text="currentSelected.title"
    :search-text="$options.i18n.searchMilestones"
    :preset-options="$options.MilestonesPreset"
    :options="milestones"
    :is-loading="isLoading"
    :selected="currentSelected"
    :search-term="search"
    @set-option="selectMilestone"
    @set-search="setSearch"
    @shown="onShown"
  >
    <template #item="{ item }">
      {{ item.title }}
      <span v-if="item.expired">{{ __('(expired)') }}</span>
    </template>
  </dropdown-widget>
</template>
