<script>
import { GlLink, GlIcon } from '@gitlab/ui';
import { kebabCase, snakeCase } from 'lodash';
import { createAlert } from '~/alert';
import { getIterationPeriod } from 'ee/iterations/utils';
import SidebarEditableItem from '~/sidebar/components/sidebar_editable_item.vue';
import { getIdFromGraphQLId } from '~/graphql_shared/utils';
import { dropdowni18nText } from 'ee_else_ce/sidebar/constants';
import sidebarIterationQuery from '../queries/epic_iteration.query.graphql';
import sidebarIterationMutation from '../queries/group_epic_iteration.mutation.graphql';
import { LocalizedIssuableAttributeType, sidebarDropdownI18n } from '../constants';
import IterationSelect from './iteration_select.vue';

export default {
  name: 'SidebarIterationDropdown',
  components: {
    GlLink,
    GlIcon,
    SidebarEditableItem,
    IterationSelect,
  },
  inject: ['fullPath', 'iid'],
  props: {
    issuableAttribute: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      updating: false,
      selected: {},
      issuable: {},
    };
  },
  apollo: {
    issuable: {
      query: sidebarIterationQuery,
      variables() {
        return {
          fullPath: this.fullPath,
          iid: this.iid,
        };
      },
      update(data) {
        return data.workspace?.issuable || {};
      },
    },
  },
  computed: {
    formatIssuableAttribute() {
      return {
        kebab: kebabCase(this.issuableAttribute),
        snake: snakeCase(this.issuableAttribute),
      };
    },
    attributeTitle() {
      return this.currentAttribute?.title || '';
    },
    currentAttribute() {
      return this.issuable?.attribute;
    },
    attributeUrl() {
      return this.currentAttribute?.webUrl || '';
    },
    i18n() {
      return dropdowni18nText(
        LocalizedIssuableAttributeType[this.issuableAttribute],
        this.$options.i18n.epic,
      );
    },
    collapsedText() {
      return this.currentAttribute
        ? this.getIterationPeriod(this.currentAttribute)
        : this.$options.i18n.none;
    },
  },
  methods: {
    async selectIteration(iteration) {
      this.$refs.sidebar.collapse();
      try {
        this.updating = true;
        const {
          data: {
            updateIssuableIteration: { errors, issuable },
          },
        } = await this.updateSelectedIteration(iteration);

        if (errors?.length) {
          createAlert({
            message: errors[0],
            captureError: true,
            error: errors[0],
          });
        } else {
          this.selected = issuable.attribute;
          this.issuable = issuable;
        }
      } catch (error) {
        createAlert({
          message: this.i18n.updateError,
          captureError: true,
          error,
        });
      } finally {
        this.updating = false;
      }
    },
    setSearch(search) {
      this.search = search;
    },
    openDropdown() {
      this.$refs.select.showDropdown();
    },
    async updateSelectedIteration(iteration) {
      const sprintId = getIdFromGraphQLId(iteration.id);
      const { fullPath: groupPath, iid } = this;

      return this.$apollo.mutate({
        mutation: sidebarIterationMutation,
        variables: {
          input: {
            groupPath,
            sprintId,
            iid,
          },
        },
      });
    },
    getIterationPeriod,
    getCadenceTitle(attribute) {
      return attribute?.iterationCadence?.title;
    },
  },
  i18n: sidebarDropdownI18n,
};
</script>

<template>
  <sidebar-editable-item
    ref="sidebar"
    class="block iteration"
    data-testid="iteration-select"
    :title="__('Iteration')"
    :loading="updating"
    @open="openDropdown"
  >
    <template #collapsed>
      <div :data-testid="`select-${formatIssuableAttribute.kebab}`" class="hide-collapsed">
        <span v-if="updating">{{ selected.title }}</span>
        <template v-if="currentAttribute">
          <p class="gl-font-weight-bold gl-line-height-20 gl-m-0">
            {{ getCadenceTitle(currentAttribute) }}
          </p>
          <gl-link
            class="gl-text-gray-900! gl-line-height-20"
            :href="attributeUrl"
            data-testid="iteration-link"
          >
            <div>
              <gl-icon :aria-label="__('Iteration')" name="iteration" class="gl-mr-1" />
              {{ getIterationPeriod(currentAttribute) }}
            </div>
          </gl-link>
        </template>
        <span v-else>
          {{ $options.i18n.none }}
        </span>
      </div>
    </template>
    <template #collapsed-right>
      <div class="sidebar-collapsed-icon">
        <gl-icon :aria-label="__('Iteration')" name="iteration" />
        <span class="collapse-truncated-title gl-pt-2 gl-px-3 gl-font-sm gl-font-weight-normal">
          {{ collapsedText }}
        </span>
      </div>
    </template>
    <template #default>
      <iteration-select ref="select" :selected="selected" @select="selectIteration" />
    </template>
  </sidebar-editable-item>
</template>
