<script>
import { GlLink, GlIcon } from '@gitlab/ui';
import { kebabCase, snakeCase } from 'lodash';
import { createAlert } from '~/alert';
import { getIdFromGraphQLId } from '~/graphql_shared/utils';
import SidebarEditableItem from '~/sidebar/components/sidebar_editable_item.vue';
import { dropdowni18nText } from 'ee_else_ce/sidebar/constants';
import epicMilestoneQuery from '../queries/epic_milestone.query.graphql';
import epicMilestoneMutation from '../queries/group_epic_milestone.mutation.graphql';
import { LocalizedIssuableAttributeType, sidebarDropdownI18n } from '../constants';
import MilestoneSelect from './milestone_select.vue';

export default {
  name: 'SidebarMilestoneDropdown',
  components: {
    GlLink,
    GlIcon,
    SidebarEditableItem,
    MilestoneSelect,
  },
  inject: ['fullPath', 'iid'],
  props: {
    issuableAttribute: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      updating: false,
      hasCurrentAttribute: false,
      selected: {},
      issuable: {},
    };
  },
  apollo: {
    issuable: {
      query: epicMilestoneQuery,
      variables() {
        const { fullPath, iid } = this;
        return {
          fullPath,
          iid,
        };
      },
      update(data) {
        return data.workspace?.issuable || {};
      },
    },
  },
  computed: {
    formatIssuableAttribute() {
      return {
        kebab: kebabCase(this.issuableAttribute),
        snake: snakeCase(this.issuableAttribute),
      };
    },
    attributeTitle() {
      return this.currentAttribute?.title || '';
    },
    currentAttribute() {
      return this.issuable?.attribute;
    },
    attributeUrl() {
      return this.currentAttribute?.webUrl || '';
    },
    i18n() {
      return dropdowni18nText(
        LocalizedIssuableAttributeType[this.issuableAttribute],
        this.$options.i18n.epic,
      );
    },
  },
  methods: {
    async selectMilestone(milestone) {
      this.$refs.sidebar.collapse();
      try {
        this.updating = true;
        const {
          data: {
            updateIssuableMilestone: { errors, issuable },
          },
        } = await this.updateSelectedMilestone(milestone);

        if (errors?.length) {
          createAlert({
            message: errors[0],
            captureError: true,
            error: errors[0],
          });
        } else {
          this.selected = issuable.attribute;
          this.issuable = issuable;
          if (this.currentAttribute?.id !== null) {
            this.hasCurrentAttribute = true;
          }
        }
      } catch (error) {
        createAlert({
          message: this.i18n.updateError,
          captureError: true,
          error,
        });
      } finally {
        this.updating = false;
      }
    },
    setSearch(search) {
      this.search = search;
    },
    openDropdown() {
      this.$refs.select.showDropdown();
    },
    isAttributeOverdue(attribute) {
      return Boolean(attribute?.expired);
    },
    async updateSelectedMilestone(milestone) {
      const { fullPath, iid } = this;
      const milestoneId = getIdFromGraphQLId(milestone.id);

      return this.$apollo.mutate({
        mutation: epicMilestoneMutation,
        variables: {
          input: {
            groupPath: fullPath,
            milestoneId,
            iid,
          },
        },
      });
    },
  },
  i18n: sidebarDropdownI18n,
};
</script>

<template>
  <sidebar-editable-item
    ref="sidebar"
    class="block milestone"
    data-testid="milestone-select"
    :title="__('Milestone')"
    :loading="updating"
    @open="openDropdown"
  >
    <template #collapsed>
      <div :data-testid="`select-${formatIssuableAttribute.kebab}`" class="hide-collapsed">
        <span v-if="updating">{{ selected.title }}</span>
        <!-- <template v-else-if="!currentAttribute && hasCurrentAttribute">
          <gl-icon name="warning" class="gl-text-orange-500" />
          <span class="gl-text-gray-500">{{ $options.i18n.noPermissionToView }}</span>
        </template> -->
        <span v-else-if="!currentAttribute" class="gl-text-gray-500">
          {{ $options.i18n.none }}
        </span>

        <gl-link
          v-else-if="attributeUrl"
          class="gl-reset-color gl-hover-text-blue-800"
          :href="attributeUrl"
          :data-testid="`${formatIssuableAttribute.kebab}-link`"
          target="__blank"
          rel="noopener noreferrer"
        >
          {{ attributeTitle }}
          <span v-if="isAttributeOverdue(currentAttribute)">{{ $options.i18n.expired }}</span>
        </gl-link>
        <span v-else>
          {{ attributeTitle }}
        </span>
      </div>
    </template>
    <template #collapsed-right>
      <div class="sidebar-collapsed-icon">
        <gl-icon :aria-label="__('Milestone')" name="clock" />
        <span class="collapse-truncated-title gl-pt-2 gl-px-3 gl-font-sm gl-font-weight-normal">
          {{ attributeTitle || $options.i18n.none }}
        </span>
      </div>
    </template>
    <template #default>
      <milestone-select ref="select" :selected="selected" @set-milestone="selectMilestone" />
    </template>
  </sidebar-editable-item>
</template>
