<script>
import { GlButton, GlSprintf, GlEmptyState } from '@gitlab/ui';
import CEPipelineEditorApp from '~/ci/pipeline_editor/components/ui/pipeline_editor_empty_state.vue';
import PipelineEditorFileNav from '~/ci/pipeline_editor/components/file_nav/pipeline_editor_file_nav.vue';
import glFeatureFlagMixin from '~/vue_shared/mixins/gl_feature_flags_mixin';

export default {
  name: 'PipelineEditorEmptyState',
  components: {
    GlButton,
    GlSprintf,
    GlEmptyState,
    PipelineEditorFileNav,
  },
  extends: CEPipelineEditorApp,
  mixins: [glFeatureFlagMixin()],
  computed: {
    jhCiGraphEditorEnabled() {
      return Boolean(this.glFeatures.jhCiGraphEditor);
    },
  },
};
</script>

<template>
  <div>
    <pipeline-editor-file-nav v-on="$listeners" />
    <gl-empty-state
      v-if="usesExternalConfig"
      :title="$options.i18n.externalCiNote"
      :description="$options.i18n.externalCiInstructions"
      :svg-path="emptyStateIllustrationPath"
    />

    <gl-empty-state v-else :title="$options.i18n.title" :svg-path="emptyStateIllustrationPath">
      <template #description>
        <gl-sprintf :message="$options.i18n.body">
          <template #code="{ content }">
            <code>{{ content }}</code>
          </template>
        </gl-sprintf>
      </template>
      <template #actions>
        <gl-button
          variant="confirm"
          class="gl-mt-3 gl-mr-3"
          data-testid="create-new-ci-button"
          @click="createEmptyConfigFile"
        >
          {{ $options.i18n.btnText }}
        </gl-button>
        <gl-button
          v-if="jhCiGraphEditorEnabled"
          variant="default"
          class="gl-mt-3"
          data-testid="create-new-ci-with-graph-editor"
          @click="$emit('init-graph-editor')"
        >
          {{ s__('JH|Pipeline|Edit with GUI') }}
        </gl-button>
      </template>
    </gl-empty-state>
  </div>
</template>
