-# This empty template is for addressing https://jihulab.com/gitlab-cn/gitlab/-/issues/3598 temporarily.
= render_ee 'admin/application_settings/ai_powered' if ::Feature.enabled?(:admin_ai_access_setting)
