= form_for @application_setting, url: reporting_admin_application_settings_path(anchor: 'js-spam-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %h5
      = s_('JH|ContentValidation|Content Validation')

    .form-group
      .form-check
        = f.check_box :content_validation_endpoint_enabled, class: 'form-check-input'
        = f.label :content_validation_endpoint_enabled, s_('JH|ContentValidation|Enable Content Validation via external API endpoint'), class: 'form-check-label'
    .form-group
      = f.label :content_validation_endpoint_url, s_('JH|ContentValidation|URL of the external Content Validation endpoint'), class: 'label-bold'
      = f.text_field :content_validation_endpoint_url, class: 'form-control gl-form-input'
    .form-group
      = f.label :content_validation_api_key, s_('JH|ContentValidation|Content Validation API key'), class: 'gl-font-weight-bold'
      = f.text_field :content_validation_api_key, class: 'form-control gl-form-input'
      .form-text.text-muted= s_('JH|ContentValidation|The API key used by JH GitLab for accessing the Content Validation service endpoint')

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
