- if @group.licensed_feature_available?(:group_level_merge_checks_setting)
  %section.settings.no-animate#js-merge-requests-settings{ class: ('expanded' if expanded) }
    .settings-header
      %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
        = _('Merge requests')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded ? _('Collapse') : _('Expand')
      %p.gl-text-secondary= s_('JH|GroupSettings|These settings override the same settings configured on each project in this group.')
    .settings-content
      = render 'groups/settings/merge_requests/merge_request_pipelines_and_threads_options'

      = gitlab_ui_form_for @group, url: group_path(@group, anchor: 'js-merge-request-settings'), html: { class: 'mr-custom-page-settings' } do |f|
        - if Feature.enabled?(:ff_mr_custom_page_tab, @group) && ::Gitlab::Database.jh_database_configured?
          .form-group.gl-mt-5
            = f.label :mr_custom_page_title, s_('JH|GroupSettings|Merge request custom page'), class: 'label-light'
            %p.text-secondary
              =  s_("JH|GroupSettings|This adds a new page to the merge request view with custom contents via external URL. Leaving any field empty means turning off this feature.")
            %p.form-text.gl-mt-0.gl-mb-2
              = s_("JH|GroupSettings|Custom page title")
            = f.text_field :mr_custom_page_title, value: group.mr_custom_page_title, placeholder: s_('JH|GroupSettings|Custom page'), class: 'form-control gl-form-input-md', 'data-testid': 'custom-page-title-input'
            %p.form-text.gl-mt-3.gl-mb-2
              = s_('JH|GroupSettings|Custom page URL')
            = f.text_field :mr_custom_page_url, value: group.mr_custom_page_url, placeholder: 'https://example.com?mr=$MERGE_REQUEST_IID&project=$PROJECT_ID&user_id=$USER_ID&username=$USERNAME', class: 'form-control', 'data-testid': 'custom-page-url-input'

          = f.submit _('Save changes'), pajamas_button: true, 'data-testid': 'save-custom-page-changes-button'
