- return unless Gitlab::CurrentSettings.current_application_settings.enforce_terms?

- com_text = html_escape(s_("SignUp|By clicking %{button_text} or registering through a third party you accept the GitLab %{link_start}Terms of Use and acknowledge the Privacy Statement and Cookie Policy%{link_end}.")) % { button_text: button_text,
        link_start: "<a href='#{terms_path}' target='_blank' rel='noreferrer noopener'>".html_safe, link_end: '</a>'.html_safe }

.gl-text-gray-500.gl-mt-5.gl-mb-3
  = f.gitlab_ui_checkbox_component :terms_accepted?, com_text, checkbox_options: { required: true, data: { testid: "new-user-terms-accepted" } }, label_options: { class: 'gl-text-gray-500' }
  - if Gitlab::Saas.hk?
    .gl-form-checkbox.custom-control.custom-checkbox.gl-text-gray-500
      %input{ type: :hidden, name: :further_information_accepted, value: 0, autocomplete: :off }
      %input{ class: 'custom-control-input', type: :checkbox, name: :further_information_accepted, value: 1, id: :new_user_further_information_accepted }
      %label{ class: 'custom-control-label', for: :new_user_further_information_accepted }
        %span= s_("JH|SignUp|I Agree to receive future marketing information from JiHu GitLab.")
