- if custom_sign_in_description.present?
  .gl-pt-5
    = markdown_field(current_appearance, :description)
= render 'devise/shared/terms_of_service_notice', button_text: button_text
= yield :omniauth_providers_bottom if show_omniauth_providers
