- render_remember_me = remember_me_enabled? && local_assigns.fetch(:render_remember_me, true)

- if (any_form_based_providers_enabled? || password_authentication_enabled_for_web?)
  = render 'shared/divider', text: _("or sign in with")

.js-oauth-login.gl-mt-5.gl-display-flex.gl-flex-direction-column.gl-gap-3{ class: 'gl-text-center gl-ml-auto gl-mr-auto' }
  - providers = enabled_button_based_providers
  - providers.each do |provider|
    = render 'devise/shared/omniauth_provider_button',
      href: omniauth_authorize_path(:user, provider),
      provider: provider,
      data: { testid: test_id_for_provider(provider) }
  - if render_remember_me
    = render Pajamas::CheckboxTagComponent.new(name: 'js-remember-me-omniauth', value: nil) do |c|
      = c.with_label do
        = _('Remember me')
