- page_title(s_('JH|OnesIntegration|ONES issues'))
- add_page_specific_style('page_bundles/issues_list')

.js-ones-issues-list{ data: { issues_fetch_path: project_integrations_ones_issues_path(@project, format: :json),
                                page: params[:page],
                                initial_state: params[:state],
                                initial_sort_by: params[:sort],
                                project_full_path: @project.full_path,
                                issue_create_url: @project.ones_integration.issue_tracker_path,
                                empty_state_path: image_path('illustrations/issues.svg') } }
