- return if !Gitlab.com?
- credit_card_validation = user.credit_card_validation
= render Pajamas::CardComponent.new(card_options: { class: 'gl-mb-5' }, body_options: { class: 'gl-py-0'}) do |c|
  - c.with_header do
    = _('Credit card:')
    - if local_assigns[:link_to_match_page] && credit_card_validation&.holder_name_hash
      .gl-float-right.gl-text-sm
        = link_to card_match_admin_user_path(user) do
          = _('View card matches')
  - c.with_body do
    %ul.content-list
      %li#credit-card-status
        - if credit_card_validation.nil?
          %span= _('Validated:')
          %strong= _('No')
        - else
          %span= _('Validated at:')
          %strong
            = credit_card_validation.credit_card_validated_at.to_fs(:medium)
