<script>
import { GlFormGroup, GlCollapsibleListbox } from '@gitlab/ui';
import { createAlert } from '~/alert';
import { getIdFromGraphQLId } from '~/graphql_shared/utils';
import DomElementListener from '~/vue_shared/components/dom_element_listener.vue';
// eslint-disable-next-line @jihu-fe/prefer-ee-modules
import { workspaceLabelsQueries } from '~/sidebar/queries/constants';
import { sprintf } from '~/locale';
import { i18n, SCOPE_SEPARATOR } from '../constants';

export default {
  i18n,
  components: {
    GlFormGroup,
    GlCollapsibleListbox,
    DomElementListener,
  },
  props: {
    fullPath: {
      type: String,
      required: true,
    },
    issuableType: {
      type: String,
      required: true,
    },
    customLabels: {
      type: Array,
      required: true,
    },
    rootClassName: {
      type: String,
      required: false,
      default: '',
    },
  },
  apollo: {
    labels: {
      query() {
        return workspaceLabelsQueries[this.issuableType].query;
      },
      variables() {
        const queryVariables = {
          fullPath: this.fullPath,
        };

        return queryVariables;
      },
      update: (data) => data.workspace?.labels?.nodes || [],
      error() {
        createAlert({ message: this.$options.i18n.FETCH_LABELS_ERROR_MESSAGE });
      },
    },
  },
  data() {
    return {
      selectedLabels: Array.from({ length: this.customLabels.length }),
      dropdownStates: this.customLabels.map(() => true),
      labels: [],
    };
  },
  computed: {
    loading() {
      return this.$apollo.queries.labels.loading;
    },
  },
  methods: {
    validateForm(event) {
      this.dropdownStates = this.selectedLabels.map(
        (selectedLabel, index) =>
          selectedLabel !== undefined || !this.customLabels[index]?.required,
      );

      if (this.dropdownStates.includes(false)) {
        event.preventDefault();
      }
    },
    findLabelsInScope(scope) {
      return this.labels
        .filter((label) => label.title.includes(`${scope}${SCOPE_SEPARATOR}`))
        .map((label) => {
          return {
            text: label.title.split(`${SCOPE_SEPARATOR}`).pop(),
            value: getIdFromGraphQLId(label.id),
          };
        });
    },
    findLabelTextById(id) {
      const labelFound = this.labels.find((label) => label.id === id);
      return labelFound ? labelFound.title.split(`${SCOPE_SEPARATOR}`).pop() : '';
    },
    toggleText(scope, index) {
      return this.selectedLabels[index] !== undefined
        ? this.findLabelTextById(this.selectedLabels[index])
        : sprintf(i18n.SELECT_SCOPE, {
            scope,
          });
    },
    toggleClass(index) {
      return this.dropdownStates[index]
        ? ''
        : 'gl-field-error-outline gl-field-error-outline gl-border-1!';
    },
    groupLabel(customLabel) {
      return customLabel.scope + (customLabel.required ? ` ${this.$options.i18n.REQUIRED}` : '');
    },
  },
};
</script>
<template>
  <dom-element-listener selector="button[type='submit']" @click="validateForm">
    <div :class="rootClassName" data-testid="new-fields-col">
      <input
        v-for="selectedLabel in selectedLabels"
        :key="selectedLabel"
        type="hidden"
        name="issue[label_ids][]"
        :value="selectedLabel"
      />
      <gl-form-group
        v-for="(customLabel, index) in customLabels"
        :key="customLabel.scope"
        label-class="gl-line-height-normal"
        :state="dropdownStates[index]"
        :label="groupLabel(customLabel)"
        :invalid-feedback="$options.i18n.REQUIRED_FIELD_ERROR_MESSAGE"
      >
        <div class="issuable-form-select-holder">
          <gl-collapsible-listbox
            v-model="selectedLabels[index]"
            :data-testid="`listbox-${customLabel.scope}`"
            :toggle-text="toggleText(customLabel.scope, index)"
            :toggle-class="toggleClass(index)"
            :no-results-text="$options.i18n.NO_LABELS"
            block
            :items="findLabelsInScope(customLabel.scope)"
          />
        </div>
      </gl-form-group>
    </div>
  </dom-element-listener>
</template>
