<%= s_('JH|Your account password will expire on %{date}, it is recommended that you change your password as soon as possible.') % { date: @expiration_date } %>
<%= s_('JH|If your password has expired. After you log in, you must update your password to access your account.') %>
<%= link_to(_('Reset password'), edit_password_url(@user, reset_password_token: @token)) %>
