.billing-plan-header.content-block.gl-text-center
  .billing-plan-logo
    - if namespace.avatar_url.present?
      = render Pajamas::AvatarComponent.new(namespace, alt: namespace.name, class: 'border rounded gl-mb-5 gl-mt-2', size: 96)
    - else
      .avatar-container.rect-avatar.s96.home-panel-avatar.gl-mr-3.float-none.gl-mb-6.gl-mt-2.rounded.border{ class: 'gl-mx-auto!' }
        = render Pajamas::AvatarComponent.new(namespace, alt: namespace.name, size: 96)

  %h4{ data: { qa_selector: 'billing_plan_header' } }= s_("BillingPlans|%{group_name} is currently using the %{plan_name}").html_safe % { group_name: namespace.full_name,
      plan_name: sprintf(s_("JH|BillingPlans|%{plan_name} Plan"), { plan_name: billing_plan_name(current_plan.code) || current_plan.code&.titleize }) }

  = yield
