- add_page_specific_style 'page_bundles/login'
- custom_text = custom_sign_in_description
!!! 5
%html.html-devise-layout{ class: user_application_color_mode, lang: I18n.locale }
  = render "layouts/head", { startup_filename: 'signin' }
  %body.gl-h-full.login-page.navless{ class: "#{system_message_class} #{client_class_list}", data: { page: body_data_page, qa_selector: 'login_page', testid: 'login-page' } }
    .jh-language-switcher.position-fixed.gl-display-flex.gl-align-items-center.gl-w-full.gl-flex-direction-row-reverse.pr-3{ style: "top: 0; left: 0; height: 40px; z-index: 252;" }
      = render 'devise/shared/language_switcher'
    = header_message
    = render "layouts/init_client_detection_flags"
    = yield :sessions_broadcast
    .gl-h-full.borderless.gl-display-flex.gl-flex-wrap
      .container
        .content
          = render "layouts/flash"
          .mt-3
            .col-sm-12.gl-text-center
              = brand_image
              %h1.mb-3.gl-font-size-h2
                = brand_title
              = custom_text.presence
              = render_if_exists 'layouts/devise_help_text'
          .mb-3
            .gl-sm-w-half.gl-xs-w-full.gl-ml-auto.gl-mr-auto.bar
              = yield
      = render 'devise/shared/footer'
