- page_title s_("JH|PerformanceMeasurement|Performance Measurement")
- header_title @organization.name, organization_path(@organization) if @organization
- nav("your_work")
- @left_sidebar = true

= render template: "layouts/application"
