- page_title _("Sign in")
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"

- content_for :sessions_broadcast do
  = render "devise/sessions/broadcast"

= render "layouts/google_tag_manager_body"
- add_page_specific_style 'page_bundles/signin'

.js-non-oauth-login
  - if any_form_based_providers_enabled?
    = render 'devise/shared/tabs_ldap', admin_mode: false
  - elsif password_authentication_enabled_for_web?
    = render 'devise/sessions/new_base', admin_mode: false
-# Show a message if none of the mechanisms above are enabled
- if !password_authentication_enabled_for_web? && !ldap_sign_in_enabled? && !(omniauth_enabled? && devise_mapping.omniauthable?)
  %div
    = _('No authentication methods configured.')
%p.gl-mt-3
  - if Gitlab.com?
    = html_escape(s_("JH|SignUp|By signing in you accept the JiHu GitLab %{link_start}Terms of Use and acknowledge the Privacy Statement and Cookie Policy%{link_end}.")) % { link_start: "<a href='#{terms_path}' target='_blank' rel='noreferrer noopener'>".html_safe,
    link_end: '</a>'.html_safe }
  - else
    = html_escape(s_("SignUp|By signing in you accept the %{link_start}Terms of Use and acknowledge the Privacy Statement and Cookie Policy%{link_end}.")) % { link_start: "<a href='#{terms_path}' target='_blank' rel='noreferrer noopener'>".html_safe,
    link_end: '</a>'.html_safe }
- if allow_signup?
  %p.gl-mt-3.gl-text-center
    = _("Don't have an account yet?")
    = link_to _("Register now"), new_registration_path(:user, invite_email: @invite_email), data: { testid: 'register-link' }
- if omniauth_enabled? && devise_mapping.omniauthable? && button_based_providers_enabled?
  .clearfix
    = render 'devise/shared/omniauth_box'
