-# EE:Self Managed

- if !::Gitlab.com?
  %div{ class: "#{link_classes} flex-column" }
    .blank-state-icon.gl-mb-3
      = image_tag("illustrations/wechat-com.svg", { lazy: false })
    .blank-state-body.gl-sm-pl-6
      %h3.gl-font-size-h2.gl-mt-0
        = s_('JH|Support|Scan the QR code to join our WeChat group')
      %p.gl-mb-0
        = s_('JH|Support|1. Access enterprise-level DevOps solutions support')
      %p
        = s_('JH|Support|2. Free or Discount JiHu Gitlab official training and certification')
