@import 'page_bundles/mixins_and_variables_and_functions';
@import '../../../../../app/assets/stylesheets/page_bundles/dashboard_projects';

.blank-state {
  padding: 20px 50px;
  min-height: 240px;
  width: calc(50% - #{$gl-padding-8});

  @include media-breakpoint-down(sm) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
  }
}

.blank-state-link {
  &:hover {
    background-color: var(--gl-background-color-subtle);
    color: var(--gl-text-color, $gl-text-color);
    text-decoration: none;
  }
}

.blank-state-icon {
  svg {
    display: block;
  }
}

.blank-state-body {
  flex: 1;
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-top: 20px;
  }
}
