@import 'page_bundles/mixins_and_variables_and_functions';

.login-page {
  .omniauth-provider-divider {
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--gray-100, $gray-100);
      margin: $gl-padding-24 0;
    }

    &::before {
      margin-right: $gl-padding;
    }

    &::after {
      margin-left: $gl-padding;
    }
  }
}