<script>
import { GlIcon, GlTooltip } from '@gitlab/ui';
import JobPill from '~/ci/pipeline_editor/components/graph/job_pill.vue';
import TooltipOnTruncate from '~/vue_shared/components/tooltip_on_truncate/tooltip_on_truncate.vue';

export default {
  components: {
    GlIcon,
    GlTooltip,
    TooltipOnTruncate,
  },
  extends: JobPill,
};
</script>

<template>
  <div class="gl-w-full">
    <tooltip-on-truncate :title="jobName" truncate-target="child" placement="top">
      <gl-tooltip class="gl-bg-white" trigger="hover" :target="() => $refs.pill">
        <gl-icon class="gl-cursor-pointer" name="remove" @click="$emit('delete-job', jobName)" />
      </gl-tooltip>
      <div
        :id="id"
        ref="pill"
        class="gl-bg-white gl-shadow-inner-1-gray-100 gl-text-truncate gl-rounded-base gl-mb-3 gl-p-5 gl-relative gl-z-1 gl-transition-duration-slow gl-transition-timing-function-ease"
        :class="jobPillClasses"
        @mouseover="onMouseEnter"
        @mouseleave="onMouseLeave"
      >
        <strong>
          {{ jobName }}
        </strong>
      </div>
    </tooltip-on-truncate>
  </div>
</template>
