<script>
import { GlTabs, GlTab, GlLoadingIcon } from '@gitlab/ui';
import { GlLineChart } from '@gitlab/ui/dist/charts';
import { zip } from 'lodash';
import { __ } from '~/locale';
import SegmentedControlButtonGroup from '~/vue_shared/components/segmented_control_button_group.vue';
import { CHART_RANGE_OPTIONS, CHART_TABS } from '../constants';
import { fetchChartData } from '../api';

export default {
  components: {
    GlTabs,
    GlTab,
    GlLineChart,
    SegmentedControlButtonGroup,
    GlLoadingIcon,
  },
  data() {
    return {
      chartData: [],
      currentTab: CHART_TABS[0].title,
      currentRange: 'day',
      loading: false,
    };
  },
  computed: {
    chartOptions() {
      return {
        animation: false,
        xAxis: { name: __('Time'), type: 'category' },
      };
    },
  },
  async mounted() {
    this.loading = true;
    try {
      const { date_list: dates, ...metrics } = await fetchChartData();

      this.chartData = Object.entries(metrics).map(([key, value]) => {
        return {
          name: key,
          data: zip(dates, value),
        };
      });
    } finally {
      this.loading = false;
    }
  },
  methods: {
    onRangeChange(range) {
      this.currentRange = range;
    },
  },
  CHART_RANGE_OPTIONS,
  CHART_TABS,
};
</script>

<template>
  <div class="gl-mt-6 gl-flex flex-column">
    <div class="gl-flex justify-content-between">
      <gl-tabs class="gl-w-full" data-testid="summary-chart-tabs">
        <gl-tab
          v-for="tab in $options.CHART_TABS"
          :key="tab.title"
          :title="tab.title"
          :data-testid="`summary-chart-tab-${tab.value}`"
          @click="currentTab = tab.title"
        />
      </gl-tabs>
    </div>
    <div class="gl-flex justify-content-between">
      <strong data-testid="summary-chart-title">
        {{ currentTab }}
      </strong>
      <div class="gl-flex gl-gap-3">
        <segmented-control-button-group
          :options="$options.CHART_RANGE_OPTIONS"
          :value="currentRange"
          data-testid="summary-chart-range-segmented-control"
          @input="onRangeChange"
        />
      </div>
    </div>
    <gl-loading-icon v-if="loading" data-testid="summary-chart-loading-icon" />
    <gl-line-chart v-else :data="chartData" :option="chartOptions" data-testid="summary-chart" />
  </div>
</template>
