- page_title s_("JH|phone verification")
- add_page_specific_style 'page_bundles/phone'

.row.gl-flex-grow-1
  .gl-display-flex.gl-flex-direction-column.gl-align-items-center.gl-w-full.gl-px-5.gl-pb-5
    - oauth_user = !!current_user&.password_automatically_set && Gitlab::CurrentSettings.current_application_settings.enforce_terms?
    #js-phone-verification-show{ data: { paths: { accept: '/-/users/phone/verify' }.to_json, oauth_user: oauth_user.to_s, terms_path: terms_path } }
