- return unless trials_allowed?(current_user)
- host = URI.parse(::Gitlab::Saas.com_url).host

%li
  %a.trial-link{ href: new_trial_path(glm_source: host, glm_content: 'top-right-dropdown') }
    = s_("CurrentUser|Start an Ultimate trial")
    = emoji_icon('rocket')
